@font-face { font-family: Lato; src: url('Lato-Light.ttf');}

body {
    overflow-x:hidden;
    background: #666;
    color:white;
    font-family: "Lato","Trebuchet MS";
}

#intro p {
    font-size:15px;
}

.headline h3 {
    margin-left:10px;
}


.listContainer {
    height:250px !important;
    width:32% !important;
    background-color:rgba(89,89,89,.80);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left:0.5%;
    margin-right:0.5%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 3px solid lightgrey;
    margin-top: 20px !important;
}

.listContainerEntry {
    margin-right:5px;
    padding:10px;
}

.introContainer {
    width:100%;
    height:400px;
}


.headlineContainer {
    width:100%;
    height:30px;
}

.headline {
    width:33%;
    height:100%;
    display:inline-block;
    float:left;
}
