@font-face { font-family: Lato; src: url('Lato-Light.ttf');}

body {
    overflow-x:hidden;
    background: #666;
    background: -webkit-linear-gradient(left top, #403D45, #463569); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #403D45, #463569); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #403D45, #463569); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #403D45, #463569); /* Standard syntax */
    color:white;
    font-family: "Lato","Trebuchet MS";
}

#backgroundImage {
    position: absolute;
    width:100%;
    height:300px;
    background: url(http://jesperlauridsen.org/images/doneffs.png) no-repeat center;
    opacity: 0.5;
    left: 0px;
    top: 0px;
    z-index:0;
}

#intro {
    display:block;
    width: 100%;
    float: right;
    z-index:50;
}

.jsprFooterStyled {
    font-size:12px;
    float:left;
    width:100%;
    height:20px;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    color:grey;
}

.jsprFooterStyled a {
    color:white;
    text-decoration: none;
}

h3 {
    margin-left:10px;
}

.personalVisHeaderContainer {
    width:100%;
    height:30px;
    float: left;
}

#canvas {
    width:100%;
    /* height:300px; */
    background-color:rgba(255,255,255,.05);
}

#canvasContainer {
    width:100%;
    display:block;
    float:left;
}

.unEven {
    background-color:rgba(89,89,89,.2);
    width:100%;
}

.even {
    background-color:rgba(120,120,120,.2);
    width:100%;
}

.tweetInfo {
    margin-top:15px;
}

.tweeterName {
    width:70%;
    display:inline-block;
}

.tweeterInfoOfName {
    display:inline-block;
}

#overallContainerForLists {
    width:100%;
    height:auto;
    float:right;
    min-height:320px;
}

.personalVisualizationContainer {
    width:100%;
    height:auto;
    float:left;
}

#resetStatistics {
    display:inline-block;
    color:grey;
    margin-left: 5px;
    font-size: 12px;
    -webkit-transition: all 500ms ease-out 0s;
    -moz-transition: all 500ms ease-out 0s;
    -o-transition: all 500ms ease-out 0s;
    transition: all 500ms ease-out 0s;
    cursor:pointer;

}

#resetStatistics:hover {
    color:#FF842B;
}

.personalVisualizationContainer h3 {
    display: inline-block;
}

.handleOfUser {
    display:inline-block;
}

.positiveStat {
    color:chartreuse;
}

.negativeStat {
    color:crimson;
}

.neutralStat {
    color:cyan
}

.listContainer {
    height:250px !important;
    width:32.333% !important;
    background-color:rgba(255,255,255,.05);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left:0.5%;
    margin-right:0.5%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 3px solid rgba(255,255,255,.05);
    margin-top: 20px !important;
}

.canvasForProcentages {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.infoDivForPie {
  position:relative;
  opacity:0.5;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.listContainerEntry {
    padding:10px;
    height:auto;
    cursor:pointer;
}

.listContainerEntry a {
    text-decoration: none;
    color:white;
}

.introContainer {
    position: relative;
    width:100%;
    height:400px;
    z-index:50;
}


.headlineContainer {
    width:100%;
    height:30px;
}

.headline {
    width:32.3333%;
    margin-left:0.5%;
    margin-right:0.5%;
    height:100%;
    display:inline-block;
    float:left;
}

.displayOfDataClass {
    padding:5px;
    width:70px;
    height:45px;
    background-color:rgba(255, 132, 43, 0.2);
    position:absolute;
    bottom:313px;
    left:0px;
    font-size:12px;
    text-align:center;
}

#headline1 {
    margin-left:0%;
    margin-right:1%;
}

#headline1 h3 {
    display: inline-block;
}

#headline3 {
    margin-left:1%;
    margin-right:0%;
}

.resetButton {
    width:100%;
    //margin-left:5%;
    //margin-right:5%;
    height:40px;
    line-height:40px;
    text-align: center;
    background-color:rgba(81,70,105,1);
    border:1px solid white;
    color:white;
    cursor:pointer;
}

.wheelContainer {
    height:auto;
    width:50%;
    float:left;
    background-color:rgba(81,70,105,0.4); /* #1E1336 */
    margin-top: 20px;
}

.fullTweet {
    padding-right:15px;
}

.personalRelationsContainer {
    margin-top: 20px;
    width:50%;
    /*height:93%; */
    float:right;
    background-color:rgba(81,70,105,0.4); /* #1E1336 */
}

.wheelContainerForSingleWheel p {
    min-height: 35px;
    font-size:13px;
}

.comparisonDiv {
    font-size:13px;
}

#field {
    margin-left:0px;
    margin-right:1% !important;
}

#field3 {
    margin-right:0px;
    margin-left:1% !important;
}

.wheelStat {
    font-size:14px;
    margin-top:10px;
}

.wheelContainerForSingleWheel {
    background-color:rgba(81,70,105,0.8);
    background-clip:content-box;
    width:48%;
    margin:1%;
    min-height:240px;
    float:left;
    text-align: center;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#personalRelationsCanvas {
    width:100%;
    height:100%;
}


.generalStatisticsClass {
    width:24%;
    min-height:150px;
    background-color:rgba(81,70,105,0.4);
    margin-left:0.5%;
    margin-right:0.5%;
    display:inline-block;
    margin-bottom:10px;
}

.generalStatisticsClass:nth-of-type(1) {
    margin-right:1%;
    margin-left:0%;
}

.generalStatisticsClass:nth-of-type(5) {
    margin-right:1%;
    margin-left:0%;
}

.generalStatisticsClass:nth-of-type(4) {
    margin-right:0%;
    margin-left:1%;
}

.generalStatisticsClass:nth-of-type(8) {
    margin-right:0%;
    margin-left:1%;
}

.mainNumberClass {
    font-size:32px;
    padding-top:10px;
    text-align:center;
    color: #FF842B;
    margin-bottom:-5px;
}

.explanationPClass {
    text-align:center;
    color:white;
}

::-webkit-scrollbar {
  background-color: rgba(200,200,200,0.6);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.8);
}
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.8);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}
