@font-face { font-family: Lato; src: url('Lato-Light.ttf');}

body {
    overflow-x:hidden;
    background: #666;
    color:white;
    font-family: "Lato","Trebuchet MS";
}

#intro p {
    font-size:15px;
}

.headline h3 {
    margin-left:10px;
}

.unEven {
    background-color:rgba(89,89,89,.80);
    width:100%;
}

.even {
    background-color:rgba(120,120,120,.80);
    width:100%;
}

.tweetInfo {
    margin-top:15px;
}

.tweeterName {
    width:70%;
    display:inline-block;
}

.tweeterInfoOfName {
    display:inline-block;
}

.handleOfUser {
    display:inline-block;
}

.listContainer {
    height:250px !important;
    width:32% !important;
    background-color:rgba(89,89,89,.80);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left:0.5%;
    margin-right:0.5%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 3px solid lightgrey;
    margin-top: 20px !important;
}

.listContainerEntry {
    padding:10px;
    height:auto;
    cursor:pointer;
}

.listContainerEntry a {
    text-decoration: none;
    color:white;
}

.introContainer {
    width:100%;
    height:400px;
}


.headlineContainer {
    width:100%;
    height:30px;
}

.headline {
    width:33%;
    height:100%;
    display:inline-block;
    float:left;
}

.resetButton {
    width:100%;
    //margin-left:5%;
    //margin-right:5%;
    height:40px;
    line-height:40px;
    text-align: center;
    background-color:dimgrey;
    border:1px solid chocolate;
    color:white;
    cursor:pointer;

}
